{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %} {% block main %}
<main class="container">
  <div class="row d-flex justify-content-center align-items-center text-center truenas-login-form">
    <form class="col-sm-6 card">
      {}
      <div class="card-body">
        <h3 calss="card-title">TrueNAS Self Portal</h3>
        <input class="form-control mb-3" type="text" id="username" name="username" placeholder="username" />
        <input class="form-control mb-3" type="password" id="password" name="password" placeholder="password" />
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</main>
{% endblock %} 

{% block javascript %} 
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
